button {
  width: 100%;
  height: auto;
  margin: 5px;
  border: none;
  border-radius: 17.5px;
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(243, 243, 247);
}

button div {
  color: rgb(92, 99, 112);
  padding: 5px 7.5px;
}
button:disabled {
  background-color: rgb(226, 226, 233);
  color: rgb(171, 173, 186);
  cursor: not-allowed;
}
