.offeritem {
  position: relative;
  width: 300px;
  height: 475px;
  cursor: pointer;
  margin-top: 50px;
}

.offeritem-content {
  width: 100%;
  text-align: left;
}

.offeritem-content > h2 {
  font-size: 20px;
}

.offeritem-content p {
  font-size: 14px;
  color: rgb(92, 99, 112);
}
.offeritem-content-img {
  width: 100%;
}

.offeritem-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: 60px;
  white-space: nowrap;
}

.offeritem-footer-price {
  font-size: 22px;
  font-weight: 500;
  margin-right: 100px;
}

.offeritem-footer-button {
  margin-right: 10px;
}
