.secretbuyer {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.secretbuyer-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.secretbuyer-content > img {
  width: 40px;
  margin-bottom: 7.5px;
}

.secretbuyer-content > h2 {
  margin-left: 25px;
  font-size: 20px;
  color: white;
}

.secretbuyer-button {
  padding-bottom: 20px;
}
