.dodo-nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  transform: translateX(-52px);
  transition: transform 0.25s ease 0s;
}
.nav-links > li {
  margin-left: 15px;
  display: flex;
}

.dodo-nav .nav-links li > a {
  font-size: 14px;
  font-weight: 500;
  font-family: dodo;
  padding: 22px 0px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.dodo-nav .nav-links li > a[data-active="true"] {
  color: rgb(255, 105, 0);
}
.dodo-nav .nav-links li:first-child {
  margin-left: 0;
}
.dodo-nav.fixed::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: rgb(6 5 50 / 10%) 0px 4px 30px;
}
.dodo-nav.fixed > div > .dodo-row > .dodo-icon-sticky > svg {
  transform: translateX(0px);
}
.dodo-nav.fixed > div > .dodo-row > .nav-links {
  transform: translateX(0px);
}

.dodo-nav .nav-links a:hover {
  color: rgb(255, 105, 0);
}
.dodo-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  position: relative;
}
.dodo-live {
  position: relative;
  margin-left: 15px;
}
.dodo-live::before {
  content: " ";
  background: red;
  width: 9px;
  height: 9px;
  position: absolute;
  left: -14px;
  bottom: 28.5px;
  border-radius: 50%;
  animation: 2s ease-in-out 0s infinite normal none running pulse;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
}
.dodo-icon-sticky {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  position: relative;
  width: 52px;
  padding-right: 16px;
  height: 36px;
  cursor: pointer;
}
.dodo-icon-sticky > svg {
  transform: translateX(-52px);
  transition: transform 0.25s ease 0s;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
