.specialofferitem {
  background: rgb(255, 255, 255);
  transition: box-shadow 150ms ease-out 0s;
  box-shadow: rgb(6 5 50 / 15%) 0px 4px 22px -6px;
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
  padding: 16px;
  margin-right: 24px;
}

.specialofferitem img {
  width: 115px;
  margin-right: 30px;
}

.specialofferitem-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}
