.offers {
  margin-top: 35px;
  text-align: center;
}

.offers > h2 {
  font-size: 28px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.offers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.offers-content > div {
}
